<h3>Nova Categoria</h3>
<div class="card">
  <div class="card-body">
    <form action="" method="post">
      <label for="nome">Nome</label>
      <input type="text" name="nome" class="form-control" placeholder="Informe um nome" autofocus>
      <label for="slug">Slug</label> 
      <input type="text" name="slug" class="form-control" placeholder="Informe um slug">
      <button type="submit" class="btn btn-success mt-2">Salvar</button>
    </form>
  </div>
</div>
